html,
body{
	height: 100%;
	font-size: 1rem;
}


.page-header{
	margin-top: 4rem;
}
.navbar {
	background-color: #F3F6FA;
}

.navbar-brand{
	margin-left: 8%;
}

.content{
	margin-right: 12%;
	position: absolute;
	right: 0;
	left: auto;
}

.nav-item{
	padding-left: 44px;

}
.row {
	margin-left: 8%;
	margin-right: 8%;
}

.row-items{
	justify-content: right;
	align-items: center;
	align-content: center;
}

.column-item{
	align-items: center;
}



.mainvalueprop{
	
	width: 528px;
	height: 108px;
	left: 172px;
	top: 291px;
	font-family: 'Comfortaa', cursive;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 54px;

}

.valueprop{

	width: 528px;
	height: 56px;
	left: 172px;
	top: 423px;
	font-family: Comfortaa;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	padding-top: 24px;
	padding-bottom: 40px;

}

.phrase{
	
	width: 293px;
	height: 28px;
	left: 172px;
	top: 581px;
	font-family: Comfortaa;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;


}
.d-flex{
	left: 172px;
	right: 740px;
	top: 519px;
	bottom: 339px;
	height: 42px;

	background: #E3E3E3;
	border-radius: 4px;
	margin-top: 40px;
	margin-bottom: 20px;
}


.form-control {
	left: 172px;
	right: 740px;
	top: 519px;
	bottom: 339px;

	background: #E3E3E3;
	border-radius: 4px;
	border: none;
}


.btn{
	background: #1A1A1A;
	border-radius: 4px;
	
	height: 42px;
	left: 625px;
	top: calc(50% - 42px/2 + 90px);
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 18px;
	font-family: Comfortaa;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
}
.clock{
	align-content: center;
	width: 424px;
	height: 424px;
	


}